[user]
	email = tjones@clearstreet.io
	name = Trevor Jones
[core]
	editor = nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
